<div class="rest-index">
  <ul>
  <h2 class="heading"> My Restaurants </h2>
</ul>

  <ul class = "flex-container">
    <% @restaurants.each do |restaurant| %>
    <div>
      <%= link_to restaurant.name, restaurant_path(restaurant)%><br>
      <%= restaurant.address %><br>
      <%= restaurant.city %>
    </div>
    <% end %>
  </ul>
  <div class="row" align="center">
    <%= link_to(new_restaurant_path) do%>

    <button>Add New Restaurant</button>
    <%end%>
  </div>
</div>
