/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 .background{
   width: 100%;
   height: 100%;
   background: image-url("Restaurants.jpg");
 }

.center{
  text-align: center;
}

 .field{
   color: black;
   width: 300px;
 }

 .flex-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .flex-container > div{
   background-color: #E9E6E5;
   border: 3px solid grey;
   width: 200px;
   height: 150px;
   margin: 10px;
   text-align: center;
   font-size: 18px;
   opacity: 0.95;
 }

 .flex-container > li {
   background-color: #E9E6E5;
   border: 3px solid grey;
   width: 300px;
   height: 275px;
   margin: 10px;
   text-align: center;
   font-size: 18px;
   opacity: 0.95;
 }

 .form{
   width: 400px;
   margin: auto;
   border: medium solid grey;
   padding: 30px;
   background-color: #E9E6E5;
   border-radius: 10px;
 }

 .heading{
   margin: auto;
   border: 3px solid black;
   text-align: center;
   width: 500px;
 }
  .intro-text{
   background-color: #E9E6E5;
   text-align: center;
   font-size: 38px;
   color: black;
   border: 3px solid grey;
   opacity: 0.95;
 }

.new-flash{
  background-color: #E9E6E5;
}
 .new-restaurant{
   margin: auto;
   margin-top: 170px;
   width: 300px;
   background-color: #E9E6E5;
   text-align: center;
   font-size: 30px;
   border: 3px solid black;
   color: #67A3C0;
 }

 .quote_box{
     list-style-type: none;
 }

 .rest-name{
   margin: auto;
   width: 300px;
   text-align: center;
   font-size: 18px;
   color: black;
 }

 .rest-index{
   width: 90%;
   margin:auto;
   margin-top: 15%;
   border: medium solid grey;
   padding: 30px;
   background-color: #E9E6E5;
   border-radius: 10px;
   opacity: .95;
 }

 .rest-reports{
   width: 90%;
   margin:auto;
   margin-top: 125px;
   border: medium solid grey;
   padding: 30px;
   background-color: #E9E6E5;
   border-radius: 10px;
   opacity: .95;
 }

.charts-move {
  transform: translate(290px) translateY(-620px);
}

 .rest-show{
   margin: auto;
   border: medium solid grey;
   margin-top: 10px;
   width: 200%;
   height: 700px;
   padding: 30px;
   background-color: #E9E6E5;
   border-radius: 10px;
   opacity: .95;
 }

 .reviews{
   width: 100%;
   background-color: #E9E6E5;
 }

 .tagline{
   font-size: 24px;
   background-color: #E9E6E5;
   width: 300px;
   text-align: center;
   margin:auto;
 }

 .title{
   color: black;
   text-align: center;
   font-size: 72px;
   text-shadow: -3px 3px 0px white;
   opacity: 1;
 }
.totals{
  width: 700px;
  text-align: center;
  font-size: 24px;
  transform: translate(590px) translateY(-500px);
}
 .top-bar-1{
   background-color: blue;
   color:red;
 }
 .sign-up{
   border-left: 1px solid white;
   border-right: 1px solid white;
 }
.update{
  transform: translateY(-290px);
  text-align: center;
}

.yelp{
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.weekly-report{
  overflow-y: scroll;
  width: 350px;
  height:350px;
  border: solid black;
  padding: 10px;
}

 .weekly-box{
    list-style-type: none;
 }
